.text {
    color: hsla(0, 0%, 0%, 0.6);
}
.error-border {
    outline: 2px solid hsl(4, 90%, 58%);
}
.description {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.error-message {
    font-size: 75%;
}
