<mat-accordion *ngIf="items">
    <mat-expansion-panel
        (opened)="itemSelectPanelOpen = true"
        (closed)="itemSelectPanelOpen = false">
        <mat-expansion-panel-header>
            <mat-panel-title> Wybierz przedmiot z listy </mat-panel-title>
            <mat-panel-description class="panel-description">
                Zapisane wcześniej przedmioty
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor="let item of items" (click)="itemClicked.next(item)">
            {{ item.name }}
        </p>
    </mat-expansion-panel>
</mat-accordion>
