.main-node-content {
    padding: 2.5px 0;
    position: relative;
    pointer-events: auto;
}

.container {
    margin-left: 40px;
    pointer-events: none;
    cursor: default;
}

.show-inside-arrow {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        background-color: pink;
        height: 6px;
        width: 6px;
        border: 0.1px solid black;
        border-radius: 10px;
        z-index: 2;
        box-sizing: border-box;
    }
}

.show-line {
    position: absolute;
    height: 6px;
    border-radius: 5px;

    &::before {
        content: '';
        background-color: pink;
        position: absolute;
        left: 0;
        top: -50%;
        height: 6px;
        width: 6px;
        border: 0.1px solid black;
        border-radius: 10px;
        z-index: 2;
        box-sizing: border-box;
    }
    &::after {
        content: '';
        background-color: black;
        position: absolute;
        left: 0;
        height: 1px;
        width: 1000px;
        z-index: 1;
    }

    &[data-line='above'] {
        top: 0;
    }
    &[data-line='bellow'] {
        top: 100%;
    }
}
