<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<div *ngIf="vm$ | async as vm" fxLayoutGap="16px">
    <p-panel header="Twoje dane">
        <div class="own-wrapper" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="8px" fxFlex="33" fxLayoutAlign="center start">
                <h5 class="own-tile-label">Imię i nazwisko</h5>
                <span>{{ vm.user?.firstName }} {{ vm.user?.lastName }}</span>
                <app-button
                    [label]="'Edytuj'"
                    [buttonIcon]="'pi pi-pencil'"
                    [buttonStyle]="'flat'"
                    [buttonColor]="'primary'"
                    [buttonSize]="'small'"
                    (click)="openNameForm($any(vm.user))"></app-button>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxFlex="33" fxLayoutAlign="center start">
                <h5 class="own-tile-label">Email</h5>
                <span>{{ vm.user?.email }}</span>
                <app-button
                    [label]="'Edytuj'"
                    [buttonIcon]="'pi pi-pencil'"
                    [buttonStyle]="'flat'"
                    [buttonColor]="'primary'"
                    [buttonSize]="'small'"
                    (click)="openEmailForm($any(vm.user))"></app-button>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxFlex="33" fxLayoutAlign="center start">
                <h5 class="own-tile-label">Telefon</h5>
                <span>{{ vm.user?.phoneNumber }}</span>
                <app-button
                    [label]="'Edytuj'"
                    [buttonIcon]="'pi pi-pencil'"
                    [buttonStyle]="'flat'"
                    [buttonColor]="'primary'"
                    [buttonSize]="'small'"
                    (click)="openNumberForm($any(vm.user))"></app-button>
            </div>
        </div>
    </p-panel>
    <p-panel header="Moje adresy" [ngStyle]="{ padding: '0' }">
        <ng-template pTemplate="icons">
            <app-button
                [label]="'Dodaj'"
                [disabled]="vm.editingLocalization"
                [pTooltip]="'Zakończ edycję przed dodaniem lokalizacji!'"
                [tooltipDisabled]="!vm.editingLocalization"
                [buttonIcon]="'pi pi-plus'"
                [buttonStyle]="'raised'"
                [buttonColor]="'primary'"
                [buttonSize]="'small'"
                (click)="openLocalizationForm()"></app-button>
        </ng-template>
        <form [formGroup]="localizationForm">
            <p-table
                [value]="vm.localizations ?? []"
                dataKey="id"
                editMode="row"
                [loading]="vm.status === 'loading'"
                [frozenValue]="vm.primaryLocalizations ?? []">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>Miejscowość</th>
                        <th>Ulica</th>
                        <th style="width: 6rem">Numer domu</th>
                        <th style="width: 7rem">Numer mieszkania</th>
                        <th style="width: 7rem">Kod pocztowy</th>
                        <th style="width: 8rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="frozenbody" let-localization let-editing="editing" let-ri="rowIndex">
                    <ng-container
                        [ngTemplateOutlet]="rowTemplate"
                        [ngTemplateOutletContext]="{ $implicit: localization, editing: editing, ri: ri }"></ng-container>
                </ng-template>
                <ng-template pTemplate="body" let-localization let-editing="editing" let-ri="rowIndex">
                    <ng-container
                        [ngTemplateOutlet]="rowTemplate"
                        [ngTemplateOutletContext]="{ $implicit: localization, editing: editing, ri: ri }"></ng-container>
                </ng-template>
                <!-- Row template -->
                <ng-template #rowTemplate let-localization let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="localization" [ngClass.lt-md]="'own-cell-padding-lt-md'">
                        <td style="padding: 0">
                            <app-button
                                [fxHide.lt-md]="true"
                                *ngIf="!editing"
                                [buttonIcon]="'pi ' + (localization.isPrimary ? 'pi-star-fill' : 'pi-star')"
                                [buttonStyle]="'flat'"
                                [buttonRounded]="true"
                                [buttonColor]="'primary'"
                                (click)="componentStore.setPrimaryLocalization(localization.id)"></app-button>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Miejscowość:</strong>
                                    <app-text-input [formControlName]="'city'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Miejscowość:</strong>
                                    {{ localization.city }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Ulica:</strong>
                                    <app-text-input [formControlName]="'street'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Ulica:</strong>
                                    {{ localization.street }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Numer domu:</strong>
                                    <app-text-input [formControlName]="'houseNumber'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Numer domu:</strong>
                                    {{ localization.houseNumber }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Numer mieszkania:</strong>
                                    <app-text-input [formControlName]="'flatNumber'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Numer mieszkania:</strong>
                                    {{ localization.flatNumber }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Kod pocztowy:</strong>
                                    <app-mask-input [formControlName]="'postCode'" [mask]="'99-999'"></app-mask-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Kod pocztowy:</strong>
                                    {{ localization.postCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td style="text-align: center">
                            <app-button
                                [fxHide.gt-sm]="true"
                                *ngIf="!editing"
                                [buttonIcon]="'pi ' + (localization.isPrimary ? 'pi-star-fill' : 'pi-star')"
                                [buttonStyle]="'flat'"
                                [buttonRounded]="true"
                                [buttonColor]="'primary'"
                                (click)="componentStore.setPrimaryLocalization(localization.id)"></app-button>

                            <div *ngIf="!editing">
                                <app-button
                                    fxFlex="50"
                                    pInitEditableRow
                                    [pTooltip]="'Zakończ edycję!'"
                                    [tooltipDisabled]="!vm.editingLocalization"
                                    [disabled]="vm.editingLocalization"
                                    [tooltipPosition]="'left'"
                                    [buttonIcon]="'pi pi-pencil'"
                                    [buttonStyle]="'flat'"
                                    [buttonRounded]="true"
                                    [buttonColor]="'primary'"
                                    (click)="onRowEditInit(localization)"></app-button>
                                <app-button
                                    fxFlex="50"
                                    [buttonIcon]="'pi pi-trash'"
                                    [buttonStyle]="'flat'"
                                    [buttonRounded]="true"
                                    [buttonColor]="'danger'"
                                    (click)="deleteLocalization(localization)"></app-button>
                            </div>

                            <app-button
                                *ngIf="editing"
                                pSaveEditableRow
                                [pTooltip]="'Co najmniej jedno pole zostało błędnie wprowadzone'"
                                [tooltipDisabled]="localizationForm.valid"
                                [disabled]="!localizationForm.valid"
                                [tooltipPosition]="'left'"
                                [buttonIcon]="'pi pi-check'"
                                [buttonStyle]="'flat'"
                                [buttonRounded]="true"
                                [buttonColor]="'success'"
                                (click)="onRowEditSave(localization)"></app-button>

                            <app-button
                                *ngIf="editing"
                                pCancelEditableRow
                                [buttonIcon]="'pi pi-times'"
                                [buttonStyle]="'flat'"
                                [buttonRounded]="true"
                                [buttonColor]="'danger'"
                                (click)="onRowEditCancel()"></app-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
    </p-panel>
    <!-- Localization form dialog -->
    <p-dialog
        [header]="'Dodal lokalizację'"
        [visible]="vm.localizationFormOpen"
        [modal]="true"
        [resizable]="false"
        [closable]="false">
        <form [formGroup]="localizationForm" fxFlex fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutGap="10px">
                <app-text-input fxFlex="50%" label="Miejscowość" [formControlName]="'city'"></app-text-input>
                <app-text-input fxFlex="50%" label="Ulica" [formControlName]="'street'"></app-text-input>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <app-mask-input
                    fxFlex="33%"
                    label="Kod pocztowy"
                    [formControlName]="'postCode'"
                    [mask]="'99-999'"></app-mask-input>
                <app-text-input fxFlex="33%" label="Numer domu" [formControlName]="'houseNumber'"></app-text-input>
                <app-text-input fxFlex="33%" label="Numer mieszkania" [formControlName]="'flatNumber'"></app-text-input>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <p-divider [style]="{ 'margin-top': '0' }"></p-divider>
            <app-button
                label="Anuluj"
                [buttonIcon]="'pi pi-times'"
                [buttonStyle]="'flat'"
                (click)="componentStore.setLocalizationFormOpen(false)"></app-button>
            <app-button
                label="Zapisz"
                [buttonLoading]="vm.localizationFormStatus === 'loading'"
                [buttonIcon]="'pi pi-save'"
                [buttonStyle]="'raised'"
                (click)="submitLocalizationForm()"></app-button>
        </ng-template>
    </p-dialog>

    <!-- Name form dialog -->
    <p-dialog
        [header]="'Zmień imię i nazwisko'"
        [visible]="vm.nameFormOpen"
        [modal]="true"
        [resizable]="false"
        [closable]="false">
        <form [formGroup]="nameForm" fxFlex fxLayoutGap="16px">
            <app-text-input
                fxFlex="50"
                [label]="'Imię'"
                [type]="'text'"
                [formControlName]="'firstName'"
                [errorMessage]="firstNameErrorMessage"></app-text-input>
            <app-text-input
                fxFlex="50"
                class="lastName"
                [label]="'Nazwisko'"
                [type]="'text'"
                [formControlName]="'lastName'"
                [errorMessage]="lastNameErrorMessage"></app-text-input>
        </form>
        <ng-template pTemplate="footer">
            <p-divider [style]="{ 'margin-top': '0' }"></p-divider>
            <app-button
                label="Anuluj"
                [buttonIcon]="'pi pi-times'"
                [buttonStyle]="'flat'"
                (click)="componentStore.setNameFormOpen(false)"></app-button>
            <app-button
                label="Zapisz"
                [buttonLoading]="vm.nameFormStatus === 'loading'"
                [buttonIcon]="'pi pi-save'"
                [buttonStyle]="'raised'"
                (click)="submitNameForm()"></app-button>
        </ng-template>
    </p-dialog>

    <!-- Email form dialog -->
    <p-dialog [header]="'Zmień e-mail'" [visible]="vm.emailFormOpen" [modal]="true" [resizable]="false" [closable]="false">
        <form [formGroup]="emailForm" fxFlex fxLayoutGap="16px">
            <app-text-input
                fxFlex
                [label]="'E-mail'"
                [type]="'text'"
                [formControlName]="'email'"
                [errorMessage]="emailErrorMessage"></app-text-input>
        </form>
        <ng-template pTemplate="footer">
            <p-divider [style]="{ 'margin-top': '0' }"></p-divider>
            <app-button
                label="Anuluj"
                [buttonIcon]="'pi pi-times'"
                [buttonStyle]="'flat'"
                (click)="componentStore.setEmailFormOpen(false)"></app-button>
            <app-button
                label="Zapisz"
                [buttonLoading]="vm.emailFormStatus === 'loading'"
                [buttonIcon]="'pi pi-save'"
                [buttonStyle]="'raised'"
                (click)="submitEmailForm()"></app-button>
        </ng-template>
    </p-dialog>

    <!-- Phone form dialog -->
    <p-dialog [header]="'Ustaw telefon'" [visible]="vm.numberFormOpen" [modal]="true" [resizable]="false" [closable]="false">
        <form [formGroup]="numberForm" fxFlex fxLayoutGap="16px">
            <app-mask-input
                fxFlex="100"
                [label]="'Telefon komórkowy'"
                [type]="'text'"
                [formControlName]="'phoneNumber'"
                [errorMessage]="phoneNumberErrorMessage"
                [mask]="'999 999 999'"></app-mask-input>
        </form>
        <ng-template pTemplate="footer"
            ><p-divider [style]="{ 'margin-top': '0' }"></p-divider>
            <app-button
                label="Anuluj"
                [buttonIcon]="'pi pi-times'"
                [buttonStyle]="'flat'"
                (click)="componentStore.setNumberFormOpen(false)"></app-button>
            <app-button
                label="Zapisz"
                [buttonLoading]="vm.numberFormStatus === 'loading'"
                [buttonIcon]="'pi pi-save'"
                [buttonStyle]="'raised'"
                (click)="submitNumberForm()"></app-button>
        </ng-template>
    </p-dialog>
</div>
