<div *ngIf="vm$ | async as vm" fxLayoutGap="16px">
    <p-panel header="Twoje dane" [ngStyle]="{ padding: '0' }">
        <div class="wrapper">
            <div class="tile">
                <span class="tile-title">Email:</span>
                <span>{{ vm.user?.email }}</span>
            </div>
            <div class="tile">
                <span class="tile-title">Imię i nazwisko:</span>
                <span>{{ vm.user?.firstName }} {{ vm.user?.lastName }}</span>
            </div>
            <div class="tile">
                <span class="tile-title">Telefon:</span>
                <span>{{ vm.user?.phoneNumber }}</span>
            </div>
        </div>
        <form [formGroup]="accountForm">
            <app-text-input
                class="firstName"
                [label]="'Imię'"
                [type]="'text'"
                [formControlName]="'firstName'"
                [errorMessage]="firstNameErrorMessage"></app-text-input>
            <app-text-input
                class="lastName"
                [label]="'Nazwisko'"
                [type]="'text'"
                [formControlName]="'lastName'"
                [errorMessage]="lastNameErrorMessage"></app-text-input>
            <app-text-input
                class="phone"
                [label]="'Telefon'"
                [type]="'text'"
                [formControlName]="'phoneNumber'"
                [errorMessage]="phoneNumberErrorMessage"></app-text-input>
        </form>
    </p-panel>
    <p-panel header="Moje adresy" [ngStyle]="{ padding: '0' }">
        <ng-template pTemplate="icons">
            <button
                [disabled]="vm.formOpen && !overlayPanel.overlayVisible"
                [pTooltip]="'Zakończ edycję przed dodaniem lokalizacji!'"
                [tooltipDisabled]="!vm.formOpen || (vm.formOpen && overlayPanel.overlayVisible)"
                label="Dodaj"
                icon="pi pi-plus"
                pButton
                class="p-button-sm p-button-raised p-button-text"
                (click)="overlayPanel.toggle($event)"></button>
        </ng-template>
        <form [formGroup]="form">
            <p-table
                [value]="vm.localizations ?? []"
                dataKey="id"
                editMode="row"
                [loading]="vm.status === 'loading'"
                [frozenValue]="vm.primaryLocalizations ?? []">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>Miejscowość</th>
                        <th>Ulica</th>
                        <th style="width: 6rem">Numer domu</th>
                        <th style="width: 7rem">Numer mieszkania</th>
                        <th style="width: 7rem">Kod pocztowy</th>
                        <th style="width: 8rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="frozenbody" let-localization let-editing="editing" let-ri="rowIndex">
                    <ng-container
                        [ngTemplateOutlet]="rowTemplate"
                        [ngTemplateOutletContext]="{ $implicit: localization, editing: editing, ri: ri }"></ng-container>
                </ng-template>
                <ng-template pTemplate="body" let-localization let-editing="editing" let-ri="rowIndex">
                    <ng-container
                        [ngTemplateOutlet]="rowTemplate"
                        [ngTemplateOutletContext]="{ $implicit: localization, editing: editing, ri: ri }"></ng-container>
                </ng-template>
                <!-- Row template -->
                <ng-template #rowTemplate let-localization let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="localization" [ngClass.lt-md]="'own-cell-padding-lt-md'">
                        <td style="padding: 0">
                            <button
                                [fxHide.lt-md]="true"
                                *ngIf="!editing"
                                pButton
                                pRipple
                                (click)="setPrimaryLocalization(localization.id)"
                                type="button"
                                [icon]="'pi ' + (localization.isPrimary ? 'pi-star-fill' : 'pi-star')"
                                class="p-button-rounded p-button-text"></button>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Miejscowość:</strong>
                                    <app-text-input [formControlName]="'city'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Miejscowość:</strong>
                                    {{ localization.city }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Ulica:</strong>
                                    <app-text-input [formControlName]="'street'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Ulica:</strong>
                                    {{ localization.street }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Numer domu:</strong>
                                    <app-text-input [formControlName]="'houseNumber'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Numer domu:</strong>
                                    {{ localization.houseNumber }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Numer mieszkania:</strong>
                                    <app-text-input [formControlName]="'flatNumber'"></app-text-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Numer mieszkania:</strong>
                                    {{ localization.flatNumber }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <strong class="own-edit-label" [fxHide.gt-sm]="true">Kod pocztowy:</strong>
                                    <app-mask-input [formControlName]="'postCode'" [mask]="'99-999'"></app-mask-input>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <strong [fxHide.gt-sm]="true">Kod pocztowy:</strong>
                                    {{ localization.postCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td style="text-align: center">
                            <button
                                [fxHide.gt-sm]="true"
                                *ngIf="!editing"
                                pButton
                                pRipple
                                (click)="setPrimaryLocalization(localization.id)"
                                type="button"
                                [icon]="'pi ' + (localization.isPrimary ? 'pi-star-fill' : 'pi-star')"
                                class="p-button-rounded p-button-text"></button>
                            <div *ngIf="!editing">
                                <button
                                    [pTooltip]="'Zakończ edycję przed dodaniem lokalizacji!'"
                                    [tooltipDisabled]="!vm.formOpen"
                                    [disabled]="vm.formOpen"
                                    [tooltipPosition]="'left'"
                                    fxFlex="50"
                                    pButton
                                    pRipple
                                    pInitEditableRow
                                    type="button"
                                    icon="pi pi-pencil"
                                    (click)="onRowEditInit(localization)"
                                    class="p-button-rounded p-button-text"></button>
                                <button
                                    fxFlex="50"
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    (click)="deleteLocalization(localization)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>

                            <button
                                *ngIf="editing"
                                [pTooltip]="'Co najmniej jedno pole zostało błędnie wprowadzone'"
                                [tooltipDisabled]="form.valid"
                                [disabled]="!form.valid"
                                [tooltipPosition]="'left'"
                                pButton
                                pRipple
                                pSaveEditableRow
                                type="button"
                                icon="pi pi-check"
                                (click)="onRowEditSave(localization)"
                                class="p-button-rounded p-button-text p-button-success"></button>
                            <button
                                *ngIf="editing"
                                pButton
                                pRipple
                                type="button"
                                pCancelEditableRow
                                icon="pi pi-times"
                                (click)="onRowEditCancel()"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-overlayPanel
                #overlayPanel
                [showCloseIcon]="true"
                [style]="{ width: '500px' }"
                (onShow)="onOverlayShow()"
                (onHide)="onOverlayHide()">
                <ng-template pTemplate>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div fxLayout="row" fxLayoutGap="10px">
                            <app-text-input fxFlex="50%" label="Miejscowość" [formControlName]="'city'"></app-text-input>
                            <app-text-input fxFlex="50%" label="Ulica" [formControlName]="'street'"></app-text-input>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <app-mask-input
                                fxFlex="33%"
                                label="Kod pocztowy"
                                [formControlName]="'postCode'"
                                [mask]="'99-999'"></app-mask-input>
                            <app-text-input fxFlex="33%" label="Numer domu" [formControlName]="'houseNumber'"></app-text-input>
                            <app-text-input
                                fxFlex="33%"
                                label="Numer mieszkania"
                                [formControlName]="'flatNumber'"></app-text-input>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <button
                                pButton
                                class="p-button-flat p-button-text"
                                type="button"
                                label="Anuluj"
                                icon="pi pi-times"
                                (click)="overlayPanel.hide()"></button>
                            <button
                                pButton
                                class="p-button-raised p-button-text"
                                type="button"
                                label="Zapisz"
                                icon="pi pi-save"
                                (click)="createLocalization()"></button>
                        </div>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </form>
    </p-panel>
</div>
