:host ::ng-deep {
    .p-panel .p-panel-content {
        padding: 0;
    }
    .p-frozen-column,
    .p-datatable-frozen-tbody {
        font-weight: 600 !important;
    }

    .own-cell-padding-lt-md > td {
        padding-block: 0.5rem !important;
    }
    p-celleditor {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: start;
        align-items: center;
    }
    p-celleditor .own-edit-label {
        margin-bottom: 20px;
    }

    .p-panel-content {
        overflow: hidden;
    }
}
.own-wrapper {
    padding: 1rem;
}

.own-tile-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
