.wrapper {
    padding: 1rem;
    position: relative;
}
.form-content {
    display: grid;
    grid-template-areas:
        'email email'
        'firstName lastName'
        'phone .';
    column-gap: 1.5rem;
}
.email {
    grid-area: email;
}
.firstName {
    grid-area: firstName;
}
.lastName {
    grid-area: lastName;
}
.phone {
    grid-area: phone;
}

.backdrop {
    position: absolute;
    inset: 0;
}
