.container {
    margin-left: 40px;
}
.main-node-content {
    padding: 1px 0;
}
.above {
    border: 1px solid pink;
}
.bellow {
    border: 1px solid pink;
}

.show-line {
    position: relative;
    height: 6px;
    border-radius: 5px;

    &::before {
        content: '';
        background-color: pink;
        position: absolute;
        left: 0;
        top: 0;
        height: 6px;
        width: 6px;
        border: 0.1px solid black;
        border-radius: 10px;
        z-index: 2;
        box-sizing: border-box;
    }
    &::after {
        content: '';
        background-color: black;
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 100%;
        z-index: 1;
    }
}
