<div *ngIf="treeNode && nodeTemplate">
    <ng-container
        [ngTemplateOutlet]="mainTemplate"
        [ngTemplateOutletContext]="{
            $implicit: treeNode
        }">
    </ng-container>

    <ng-template let-rootNode #mainTemplate>
        <app-tree-view-node
            [node]="rootNode"
            [template]="nodeTemplate"
            #nodeComponent>
            <div
                data-line="above"
                [class.show-line]="nodeComponent.mouseLocation == 'above'"
                class="show-line"></div>

            <div class="main-node-content">
                <ng-container
                    [ngTemplateOutlet]="nodeTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: rootNode
                    }"></ng-container>
            </div>
            <div
                data-line="bellow"
                [class.show-line]="
                    nodeComponent.mouseLocation == 'bellow'
                "></div>
            <div
                [style.display]="rootNode.isExpanded ? 'block' : 'none'"
                class="container"
                appTreeViewNodeContainer>
                <ng-container
                    *ngFor="let child of rootNode.children"
                    [ngTemplateOutlet]="mainTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: child
                    }">
                </ng-container>
            </div>
        </app-tree-view-node>
    </ng-template>
</div>
