<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">{{
        label
    }}</label>
    <p-dropdown
        [style]="{ minWidth: '100%' }"
        [id]="formControlName"
        [options]="options"
        [filter]="filter"
        [required]="required"
        [showClear]="true"
        [formControl]="control"
        [optionLabel]="optionLabel"
        [filterMatchMode]="filterMatchMode"
        [filterBy]="filterBy"
        [placeholder]="placeholder">
        <ng-template let-item pTemplate="selectedItem">
            <ng-container [ngTemplateOutlet]="selectedTemplate || defaultSelectedTemplate"></ng-container>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <ng-container
                [ngTemplateOutlet]="itemTemplate || defaultItemTemplate"
                [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
        </ng-template>
    </p-dropdown>
    <small class="own-error-message" *ngIf="showError">
        <ng-container *ngIf="errorMessage && control.invalid && control.touched">{{ errorMessage }}</ng-container>
    </small>
</div>
<ng-template #defaultSelectedTemplate> Nie podano ng-template </ng-template>

<ng-template #defaultItemTemplate let-item>
    {{ item }}
</ng-template>
