<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="itemSelectPanelOpen = true"
            (closed)="itemSelectPanelOpen = false">
            <mat-expansion-panel-header>
                <mat-panel-title> Wybierz przedmiot z listy </mat-panel-title>
                <mat-panel-description class="panel-description">
                    Zapisane wcześniej przedmioty
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="section add-photo-container" appElevatedSection>
        <div class="add-photo-outline">
            <div class="add-photo-info">
                <button mat-stroked-button color="accent">
                    Przeciągnij i upuść tutaj
                </button>
                <span>lub</span>
                <button mat-flat-button color="accent">
                    Wybierz zdjęcia z dysku
                </button>
            </div>
        </div>
    </div>
    <div class="section form-group" appElevatedSection>
        <app-text-input
            [label]="'Nazwa'"
            [type]="'text'"
            [formControlName]="'name'"
            [errorMessage]="nameErrorMessage">
        </app-text-input>
        <!-- Move select to custom component -->
        <mat-form-field appearance="outline">
            <mat-label>Kategoria</mat-label>
            <mat-select formControlName="categoryId" name="categoryId">
                <mat-option
                    *ngFor="let category of categories"
                    [value]="category.id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-error>
                {{ categoryIdErrorMessage }}
            </mat-error>
        </mat-form-field>
        <!--  -->
        <app-text-area-input
            [rows]="5"
            [label]="'Opis'"
            [formControlName]="'description'"
            [errorMessage]="descriptionErrorMessage">
        </app-text-area-input>
        <mat-checkbox formControlName="saveItem" name="saveItem">
            Zapisz przedmiot</mat-checkbox
        >
    </div>
    <div class="section form-group map-section" appElevatedSection>
        <app-map></app-map>
    </div>
    <div class="section form-group" appElevatedSection>darmo? odpłatnie?</div>
</form>
