.wrapper {
    position: relative;
    &:hover {
        .button {
            visibility: visible;
        }
    }
}
.image {
    width: 100%;
    object-fit: cover;
    user-select: none;
    aspect-ratio: 4/3;
}

.button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: hsla(0, 0, 100%, 0.5);
    visibility: hidden;
    width: 25px;
    height: 25px;
    line-height: 0px;
    .icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        line-height: 1;
    }
}
