@use 'src/scss/abstracts' as *;
$desktop-landing-height: 60vh;

.spacer {
	margin-top: $desktop-landing-height;
	width: 100%;
}
.wrapper {
	position: absolute;
	width: 100vw;
	top: 0;
	left: 0;
	height: $desktop-landing-height;
	overflow: hidden;
	.landing {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('/assets/landing-page-image-desktop.jpg');
		height: $desktop-landing-height;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left center;
		margin: auto;
		.content-wrapper {
			max-width: $container-max-width;
			margin: auto;
			height: calc(#{$desktop-landing-height} - 10vh);
			display: grid;
			align-items: center;
			justify-content: left;
			.content-container {
				width: 100%;

				.title-container {
					display: grid;
					justify-content: center;
					font-variant: small-caps;
					.title {
						font-weight: normal;
						font-size: clamp(3.5rem, 6vw, 7rem);
						color: #fedc0a;
						margin: 0;
						text-shadow: $text-outline-shadow;
					}
					.subtitle {
						font-weight: normal;
						font-size: clamp(1.15rem, 2vw, 2rem);
						color: #ffffff;
						margin: 0;
						text-shadow: $text-outline-shadow;
					}
				}
				.search-container {
					margin-top: 1.25rem;
					width: 100%;
					display: grid;
					gap: 1rem;
					grid-template-columns: 2fr 1fr;
				}
			}
		}
	}
}
