<div class="spacer"></div>
<div class="wrapper">
    <div class="landing">
        <div class="content-wrapper">
            <div class="content-container">
                <div class="title-container">
                    <h1 class="title">Twój sąsiad</h1>
                    <h4 class="subtitle">Narzędzia bliżej niż myślisz</h4>
                </div>
                <div class="search-container">
                    <input type="text" />
                    <app-text-input-with-dropdown [dropdownElements]='jakisArray'
                                                  [displayProperty]="'name'"></app-text-input-with-dropdown>
                </div>
            </div>
        </div>
        <app-landing-divider></app-landing-divider>
    </div>
</div>
