.wrapper {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 1rem;
}
[class*='tile-'] {
    padding: 1rem;
}
.link {
    cursor: pointer;
    transition: 0.05s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }
}
.tile-wide {
    grid-column: 1 / span 2;
}
