<div class="wrapper">
    <div
        class="tile-wide"
        appElevatedSection
        *ngIf="{ user: user$ | async } as vm">
        <span
            >Witaj <strong>{{ vm.user?.email }}</strong
            >! Co chcesz zrobić?</span
        >
    </div>
    <div class="tile-basic link" appElevatedSection [routerLink]="['account']">
        Edytuj dane
    </div>
    <div class="tile-basic link" appElevatedSection [routerLink]="['items']">
        Moje przedmioty
    </div>
    <div
        class="tile-basic link"
        appElevatedSection
        [routerLink]="['advertisements']">
        Moje ogłoszenia
    </div>
</div>
