<div class="wrapper">
    <div class="tile-wide" appCardContainer="darker" *ngIf="{ user: user$ | async } as vm">
        <span
            >Witaj <strong>{{ vm.user?.email }}</strong
            >! Co chcesz zrobić?</span
        >
    </div>
    <div class="tile-basic link" pRipple appCardContainer [routerLink]="['account']">Edytuj dane</div>
    <div class="tile-basic link" pRipple appCardContainer [routerLink]="['items']">Moje przedmioty</div>
    <div class="tile-basic link" pRipple appCardContainer [routerLink]="['advertisements']">Moje ogłoszenia</div>
</div>
