<div class="wrapper">

    <div class="landing-container">

        <div class="bottom-bar">
            <div class="input-section">
                <input class='input'
                       type="text"
                       matInput
                       placeholder="Miasto">
                <input class='input'
                       type="text"
                       matInput
                       placeholder="Miasto">
                <input class='input'
                       type="text"
                       matInput
                       placeholder="Miasto">

                <mat-slider thumbLabel
                            [displayWith]="formatLabel"
                            step="1"
                            min="5"
                            max="100"
                            aria-label="units"></mat-slider>

            </div>
        </div>
    </div>
</div>
