:host ::ng-deep {
    .p-menu {
        width: 100% !important;
    }
    .p-dataview {
        border-radius: 6px;
    }
    .p-dataview-header {
        border-top: none;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .p-paginator-bottom {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
}

.own-container {
    display: grid;
    grid-template: auto 1fr / 2fr 5fr;
    gap: 1rem;
}

.own-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: sticky;
    top: 1rem;
}

.own-card {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-radius: 4px;
}

.own-item {
    cursor: pointer;
}
.own-item:hover {
    transform: scale(1.01);
    background-color: hsla(0, 0, 0, 0.03);
}

.own-image {
    aspect-ratio: 6/4;
    object-fit: cover;
    object-position: center;
}

.own-name {
    font-size: 1.25rem;
    font-weight: 700;
}

.own-description {
    margin: 0 0 1rem 0;
}

.own-category {
    font-weight: 600;
    vertical-align: middle;
}

// List item styles

// Grid items styles
.own-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .own-grid-item-top {
        display: flex;
        align-items: center;
    }

    .own-grid-item-content {
        text-align: center;
        margin-bottom: 1rem;
    }

    .own-grid-item-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    .own-image {
        width: 75%;
        margin: 2rem 0;
        border-radius: 4px;
    }
}
