<div class="own-container">
    <p-menu class="own-menu" *ngIf="menuOptions$ | async as menuOptions" [model]="menuOptions"></p-menu>
    <div appCardContainer>
        <p-dataView
            *ngIf="advertisements$ | async as advertisements"
            #dv
            [value]="advertisements"
            [paginator]="true"
            [rows]="9"
            filterBy="title"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            layout="grid">
            <ng-template pTemplate="header">
                <div
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="flex-start center"
                    fxLayoutAlign.md="space-between center"
                    fxLayout.lt-md="column"
                    fxLayoutAlign.lt-md="space-between flex-start"
                    fxLayoutGap="10px">
                    <p-dropdown
                        [options]="sortOptions"
                        placeholder="Sortuj po miejscowości"
                        (onChange)="onSortChange($event)"></p-dropdown>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            #searchInput
                            type="search"
                            pInputText
                            placeholder="Search by Name"
                            (input)="dv.filter(searchInput.value)" />
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-advertisement pTemplate="listItem">
                <div fxFlex="100">
                    <div
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="16px"
                        fxLayout.lt-sm="column"
                        fxLayoutAlign.lt-sm="center center"
                        class="own-item"
                        [ngStyle]="{ padding: '1rem' }"
                        pRipple
                        [routerLink]="['/advertisements', 'details', advertisement.id]">
                        <img
                            [appElevation]="2"
                            fxFlex.gt-xs="150px"
                            [ngStyle.lt-sm]="{ width: '75%' }"
                            class="own-image"
                            [src]="advertisement.images[0]?.bytes | base64ToDataUri"
                            [alt]="advertisement.images[0]?.description" />
                        <div
                            fxFlex
                            fxLayout="column"
                            fxLayoutGap="4px"
                            fxLayoutAlign="center start"
                            fxLayoutAlign.lt-sm="center center">
                            <div class="own-name">{{ advertisement.title }}</div>
                            <p-rating [readonly]="true" [cancel]="false"></p-rating>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <i class="pi pi-tag"></i>
                                <span class="own-category">{{ advertisement.category.name }}</span>
                            </div>
                        </div>
                        <div
                            fxFlex
                            fxLayout="column"
                            fxLayoutGap="4px"
                            fxLayoutAlign="center end"
                            fxLayoutAlign.lt-sm="center center">
                            <app-button [buttonIcon]="'pi pi-star'" label="Obserwuj" [buttonStyle]="'raised'"></app-button>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <i class="pi pi-map-marker"></i>
                                <span>{{ advertisement.localization.city }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-advertisement pTemplate="gridItem">
                <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" fxFlex.gt-md="25">
                    <div
                        [appElevation]="2"
                        class="own-grid-item own-card own-item"
                        pRipple
                        [routerLink]="['/advertisements', 'details', advertisement.id]">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                            <i class="pi pi-tag"></i>
                            <span class="own-category">{{ advertisement.category.name }}</span>
                        </div>
                        <div class="own-grid-item-content">
                            <img
                                [appElevation]="2"
                                class="own-image"
                                [src]="advertisement.images[0]?.bytes | base64ToDataUri"
                                [alt]="advertisement.images[0]?.description" />
                            <div class="own-name">{{ advertisement.title }}</div>
                            <div class="own-description">{{ advertisement.name }}</div>
                            <p-rating [readonly]="true" [cancel]="false"></p-rating>
                        </div>
                        <div class="own-grid-item-bottom">
                            <app-button [buttonIcon]="'pi pi-star'" [buttonStyle]="'flat'" [buttonRounded]="true"></app-button>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <i class="pi pi-map-marker"></i>
                                <span>{{ advertisement.localization.city }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
