.wrapper {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.backdrop {
    position: absolute;
    inset: 0;
}
