<div class="form-group">
    <label [for]='label'>{{label}}</label>
    <input #input
           [type]="type"
           [id]="label"
           [placeholder]="placeholder"
           (input)="onChange(input!.value)"
           (blur)="onTouched()"
           [ngClass]="(controlDir?.control?.touched) ? !controlDir?.control?.valid ? 'is-invalid' : 'is-valid' : '' "
           class="form-control">
    <div class="invalid-feedback d-block"
         *ngIf="(!controlDir?.control?.valid && controlDir?.control?.touched)">
        <ng-content select="[slot=validation]"></ng-content>

    </div>
</div>
