<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title *ngIf="editMode">{{categoryDefinition.displayName}}</mat-card-title>
        <mat-card-subtitle *ngIf="editMode">{{categoryDefinition.name}}</mat-card-subtitle>
        <mat-card-content>
            <div>

                <app-text-input [label]="'Nazwa'"
                                [type]="'text'"
                                [formControlName]="'name'"
                                [errorMessage]="nameErrorMessage">
                </app-text-input>
            </div>
            <div>
                <app-text-input [label]="'Nazwa wyświetlana'"
                                [type]="'text'"
                                [formControlName]="'displayName'"
                                [errorMessage]="displayNameErrorMessage">
                </app-text-input>
            </div>
            <div>
                <mat-checkbox class="example-margin"
                              formControlName="isActive"
                              id="isActive">Aktywny</mat-checkbox>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button
                    color="primary"
                    [type]="'submit'"
                    [disabled]="loading || !form.valid">Potwierdź</button>
        </mat-card-actions>
        <mat-card-footer *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</form>
