@use '/src/scss/theme' as theme;

.wrapper {
    background-color: theme.$primary-default;
    app-container {
        width: 100%;
        .footer-content {
            align-self: flex-end;
        }
    }
}
