<p-card
    *ngIf="advertisement && advertisement.item; else skeleton"
    [header]="advertisement.item.name"
    [subheader]="'Kategoria: ' + advertisement.item.category.name">
    <ng-template pTemplate="header">
        <p-galleria
            style="border-radius: 4px"
            *ngIf="advertisement.item.images.length > 0; else imageSkeleton"
            [value]="advertisement.item.images"
            [circular]="true"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [showIndicators]="true"
            [showIndicatorsOnItem]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.dataUrl" style="width: 100%; display: block" />
            </ng-template>
        </p-galleria>
    </ng-template>
    <p
        *ngIf="
            advertisement && advertisement.description;
            else descriptionSkeleton
        ">
        {{ advertisement.description }}
    </p>
    <p>
        {{ advertisement.item.description }}
    </p>
    <ng-template pTemplate="footer">
        <h3 class="h3-title">Lokalizacja:</h3>
        <h4 *ngIf="advertisement && advertisement.localization">
            {{ advertisement.localization.name }}
        </h4>
    </ng-template>
</p-card>

<ng-template #skeleton>
    <p-card>
        <ng-template pTemplate="header">
            <ng-container [ngTemplateOutlet]="imageSkeleton"></ng-container>
        </ng-template>
        <div class="own-card-body-reset">
            <ng-container [ngTemplateOutlet]="titleSkeleton"></ng-container>
            <ng-container [ngTemplateOutlet]="subtitleSkeleton"></ng-container>
            <div class="p-card-content">
                <ng-container
                    [ngTemplateOutlet]="descriptionSkeleton"></ng-container>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <ng-container [ngTemplateOutlet]="titleSkeleton"></ng-container>
        </ng-template>
    </p-card>
</ng-template>

<ng-template #titleSkeleton>
    <app-skeleton-text
        [animate]="loading"
        [rows]="1"
        [rowSpacing]="'8px'"
        [rowHeight]="'20px'"></app-skeleton-text>
</ng-template>
<ng-template #subtitleSkeleton>
    <app-skeleton-text
        [animate]="loading"
        [rows]="1"
        [rowSpacing]="'8px'"
        [rowHeight]="'16px'"></app-skeleton-text>
</ng-template>
<ng-template #imageSkeleton>
    <app-skeleton-box
        class="skeleton-image"
        [animate]="loading"></app-skeleton-box>
</ng-template>
<ng-template #descriptionSkeleton>
    <app-skeleton-text
        [animate]="loading"
        [rows]="6"
        [rowHeight]="'14px'"></app-skeleton-text>
</ng-template>
