<div class="container">
    <ng-container *ngIf="advertisement && advertisement.item; else skeleton">
        <div class="img-container">
            <div class="title2">
                <h1 class="title" *ngIf="advertisement && advertisement.title">
                    {{ advertisement.title }}
                </h1>
            </div>
            <img
                *ngIf="advertisement.item.images[0]; else imageSkeleton"
                class="image"
                [src]="advertisement.item.images[0].dataUrl"
                [name]="advertisement.item.images[0].name" />
        </div>
        <ng-template #imageSkeleton>
            <app-skeleton-box
                class="skeleton image"
                [animate]="loading"></app-skeleton-box>
        </ng-template>

        <h2 style="font-size: 22px">{{ advertisement.item.name }}</h2>
        <h2>Kategoria: {{ advertisement.item.category.name }}</h2>

        <h3 class="h3-title">Opis przedmiotu:</h3>
        <p>
            {{ advertisement.item.description }}
        </p>
    </ng-container>
    <h3 class="h3-title">Opis ogłoszenia:</h3>
    <p
        *ngIf="
            advertisement && advertisement.description;
            else descriptionSkeleton
        ">
        {{ advertisement.description }}
    </p>
    <h3 class="h3-title">Lokalizacja:</h3>
    <h4
        *ngIf="
            advertisement && advertisement.localization;
            else localizationSkeleton
        ">
        {{ advertisement.localization.name }}
    </h4>
</div>

<ng-template #skeleton>
    <div class="img-container">
        <app-skeleton-box
            class="skeleton image"
            [animate]="loading"></app-skeleton-box>
    </div>
    <app-skeleton-text
        class="skeleton skeleton-h2"
        [animate]="loading"
        [rows]="1"
        [rowHeight]="'22px'"></app-skeleton-text>
    <app-skeleton-text
        class="skeleton skeleton-h2"
        [animate]="loading"
        [rows]="1"
        [rowHeight]="'20px'"></app-skeleton-text>

    <h3 class="h3-title">Opis przedmiotu:</h3>
    <app-skeleton-text
        class="skeleton skeleton-p"
        [animate]="loading"
        [rows]="6"
        [rowHeight]="'14px'"></app-skeleton-text>
</ng-template>
<ng-template #descriptionSkeleton>
    <app-skeleton-text
        class="skeleton skeleton-p"
        [animate]="loading"
        [rows]="6"
        [rowHeight]="'14px'"></app-skeleton-text>
</ng-template>
<ng-template #localizationSkeleton>
    <app-skeleton-text
        class="skeleton skeleton-h3"
        [rows]="1"
        [rowHeight]="'16px'"></app-skeleton-text>
</ng-template>
