<app-welcome-landing-page>
    <mat-card class="mat-elevation-z6">
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex">
            <mat-tab>
                <ng-template mat-tab-label>Logowanie</ng-template>
                <app-welcome-login (formSubmited)="onLogin($event)"></app-welcome-login>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Rejestracja</ng-template>
                <app-welcome-register (formSubmited)="onRegister($event)"></app-welcome-register>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</app-welcome-landing-page>

<app-backdrop-loading [fixed]="true"
    *ngIf="(isBusy$ | async)"
    [backdropColor]="'hsl(0, 0%, 30%, 0.3'"></app-backdrop-loading>
