<div class="container">
    <div class="top-bar" appElevatedSection>
        <button
            mat-raised-button
            color="warn"
            (click)="dialog.open(localizationForm)">
            Nowa lokalizacja
        </button>
    </div>
    <app-list-container [listViewType]="'card'">
        <app-card
            *ngFor="let localization of localizations$ | async"
            [horizontal]="false"
            (click)="dialog.open(localizationForm, { data: localization })">
            <app-card-content>
                <div class="wrapper">
                    <p>{{ localization.name }}</p>
                    <p>
                        {{ localization.street }} {{ localization.houseNumber }}
                    </p>
                    <p>{{ localization.postCode }} {{ localization.city }}</p>
                    <mat-icon
                        class="icon"
                        (click)="deleteLocalization(localization.id)"
                        appStopPropagation
                        >delete_forever</mat-icon
                    >
                </div>
            </app-card-content>
        </app-card>
    </app-list-container>
</div>

<ng-template #localizationForm let-localization>
    <mat-dialog-content>
        <app-localization-form
            [localization]="localization"
            (canceled)="dialog.closeAll()"
            (formSubmited)="
                itemFormSubmited(localization?.id, $event)
            "></app-localization-form>
    </mat-dialog-content>
</ng-template>
