<div class="container">
    <mat-icon *ngIf="data.messageType == 'error'"
              aria-hidden="false"
              color="warn"
              aria-label="error">error_outline</mat-icon>
    <mat-icon *ngIf="data.messageType == 'warning'"
              aria-hidden="false"
              color="secondary"
              aria-label="warning">warning_amber</mat-icon>
    <mat-icon *ngIf="data.messageType == 'success'"
              aria-hidden="false"
              color="primary"
              aria-label="success">check_circle_outlined</mat-icon>

    <p [ngClass]="['content', data.messageType]">
        {{data.message}}
    </p>

    <button class="close-button"
            mat-button
            (click)="close()">Zamknij</button>
</div>
