<div class="wrapper">
    <div class="top-bar">
        <ng-content select="[top-bar]"></ng-content>
    </div>
    <div class="main-content">
        <ng-content select="[content]"></ng-content>
    </div>
    <div
        class="side-content-container"
        [ngStyle]="{ width: contentWidth$ | async }"
        #sideContentContainer>
        <div
            class="side-content"
            [ngStyle]="{ width: contentWidth$ | async }"
            #sideContent>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
