<div class="container">
    <app-list-container-toggle-buttons
        (listViewTypeChanged)="
            changeListViewType($event)
        "></app-list-container-toggle-buttons>
    <div class="search-bar-container">
        <app-advertisement-search
            (searchSubmited)="submitSearch($event)"
            [categories]="categories$ | async"></app-advertisement-search>
    </div>
    <button
        mat-raised-button
        color="warn"
        [routerLink]="['/advertisements', 'add']">
        Nowe ogłoszenie
    </button>
</div>
