.wrapper {
    padding: 2rem;
}
.selected-category {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.back-to-previous {
    margin-bottom: 1rem;
}
a {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.category-list-item {
    margin-bottom: 0.25rem;
}
.skeleton {
    display: block;
}
