@forward 'base';


html{
  overflow-y: scroll;
}
// override angular-material tab default height
mat-card, mat-tab-group, .mat-tab-body-wrapper{
    height: 100%;
}

[dragDropItem] {
    cursor: grab;
}

// [drag-drop-overlay] {
//     position: fixed;
//     top: 0px;
//     opacity: 0;
//     height: 100vh;
//     width: 100vw;
//     z-index: -1000;
//     cursor: grabbing;
// }
[dragDropDragging] {
    position: fixed;
    top: 0px;
    opacity: 0;
    left: -999px;

}
[dragDropDraggingPreview] {
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 1;
    left: 0;
    pointer-events: none;

    *  {
        pointer-events: none;
        pointer-events: none;
    }
}
.drag-drop-placeholder {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 2px dotted black;
    background: #ccc;
   // pointer-events: none;
}
