<div class="wrapper">
    <div class="container snap-container hide-scrollbar" #wrapper>
        <div></div>
        <ng-content></ng-content>
        <div></div>
    </div>
    <div class="button-container">
        <button class="arrow-button" mat-icon-button (click)="scrollLeft()">
            <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
        </button>
        <button class="arrow-button" mat-icon-button (click)="scrollRight()">
            <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
