<div
    class="main-node-content"
    [class.show-inside-arrow]="dropLocation == 'inside'">
    <div data-line="above" [class.show-line]="dropLocation == 'above'"></div>
    <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{
            $implicit: node
        }"></ng-container>
    <div data-line="bellow" [class.show-line]="dropLocation == 'bellow'"></div>
</div>
<div [style.display]="node.isExpanded ? 'block' : 'none'" class="container">
    <div
        data-line="inside"
        appTreeViewNodeContainer
        [class.show-line]="dropLocation == 'inside'"></div>
</div>
