<div
    class="main-node-content"
    [class.show-inside-arrow]="dropLocation == 'inside'">
    <div data-line="above" [class.show-line]="dropLocation == 'above'"></div>
    <div #draggableContent>
        <ng-container
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{
                $implicit: node
            }"></ng-container>
    </div>
    <div data-line="bellow" [class.show-line]="dropLocation == 'bellow'"></div>
</div>
<div [style.display]="node.isExpanded ? 'block' : 'none'" class="container">
    <app-tree-view-node-container
        data-line="inside"
        [class.show-line]="
            dropLocation == 'inside'
        "></app-tree-view-node-container>
</div>
