$gap-size: 10px;
.root {
    display: grid;
    height: 100%;
}

.images-container {
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    gap: $gap-size;

    .image {
        object-fit: contain;
    }

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.snap {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: $gap-size;
    & > * {
        scroll-snap-align: start;
    }
}

.empty-list {
    place-items: center;
}
