<div class="wrapper" appElevatedSection>
    <form [formGroup]="form" (ngSubmit)="submit$.next()">
        <div>
            <app-text-input
                [label]="'Nazwa'"
                [type]="'text'"
                [formControlName]="'name'"
                [errorMessage]="nameErrorMessage">
            </app-text-input>
        </div>
        <div>
            <app-text-input
                [label]="'Nazwa wyświetlana'"
                [type]="'text'"
                [formControlName]="'displayName'"
                [errorMessage]="displayNameErrorMessage">
            </app-text-input>
        </div>
        <div>
            <mat-checkbox
                class="example-margin"
                formControlName="isActive"
                id="isActive"
                >Aktywny</mat-checkbox
            >
        </div>
        <div class="buttons">
            <button
                mat-button
                color="primary"
                [type]="'button'"
                [routerLink]="['../']">
                Anuluj
            </button>
            <button
                mat-button
                color="primary"
                [type]="'submit'"
                [disabled]="(status$ | async) === 'loading' || !form.valid">
                Potwierdź
            </button>
        </div>
    </form>
    <app-bouncy-loading-backdrop
        class="backdrop"
        *ngIf="(status$ | async) === 'loading'"></app-bouncy-loading-backdrop>
</div>
