$node-color: #bbbbbb;
$node-shadow: 0px 0px 10px 2px rgba(177, 177, 177, 0.7);

.container {
    padding: 1rem;

    .title {
        box-shadow: $node-shadow;
        background-color: $node-color;
        color: white;
        font-weight: 500;
        border-radius: 5px;
        padding: 5px;
        user-select: none;
        &:hover {
            transform: scale(1.01);
        }
        fa-icon {
            display: inline-block;
            transition: ease 0.085s;
        }
        .rotate {
            transform: rotate(-90deg);
        }
    }
}

.tree-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}
