<div class="container" appElevatedSection>
    <app-tree-view-root-container-group
        class="tree-container"
        [dragDropAllowed]="true"
        (treeDragEnd)="treeDragEnd($event)">
        <div>
            <app-tree-view-unassigned-node-container
                [nodeTemplate]="nodeTemplate"
                [items]="unasignedCategories$ | async">
            </app-tree-view-unassigned-node-container>
        </div>
        <div>
            <app-tree-view-root-container
                [treeNode]="tree$ | async"
                [nodeTemplate]="nodeTemplate">
            </app-tree-view-root-container>
        </div>
        <ng-template let-node let-component="component" #nodeTemplate>
            <div class="title">
                <fa-icon
                    [appTreeViewNodeToggle]="component"
                    *ngIf="!node.isLeaf"
                    [class]="component.isExpanded ? 'rotate' : ''"
                    [icon]="faChevronDown"></fa-icon>
                {{ node.data.name }}
            </div>
        </ng-template>
    </app-tree-view-root-container-group>
    <div class="bottom-bar">
        <button mat-stroked-button color="primary" (click)="submitChanges()">
            Zatwierdź zmiany
        </button>
    </div>
</div>
