<div *ngIf="vm$ | async as vm">
    <div appElevatedSection class="cover"></div>
    <app-bouncy-loading-backdrop [backdrop]="false" *ngIf="vm.status === 'loading'"></app-bouncy-loading-backdrop>
    <p-carousel
        [value]="vm.advertisements ?? []"
        [numVisible]="4"
        [numScroll]="4"
        [circular]="true"
        [autoplayInterval]="3000"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h1>Ostatnio dodane</h1>
        </ng-template>
        <ng-template let-advertisement pTemplate="item">
            <div class="own-item" pRipple appStopPropagation [routerLink]="['/advertisements', 'details', advertisement.id]">
                <div class="own-image-wrapper">
                    <img
                        [src]="advertisement.images[0]?.bytes | base64ToDataUri"
                        [alt]="advertisement.images[0]?.description"
                        class="own-image" />
                </div>
                <div>
                    <h2>{{ advertisement.title }}</h2>
                    <div class="own-icon-label-group">
                        <i class="pi pi-map-marker"></i>
                        <span>{{ advertisement.localization.city }}</span>
                    </div>
                    <div class="own-button-group">
                        <p-button
                            appStopPropagation
                            type="button"
                            styleClass="p-button p-button-rounded"
                            icon="pi pi-search"></p-button>
                        <p-button
                            appStopPropagation
                            type="button"
                            styleClass="p-button-success p-button-rounded"
                            icon="pi pi-star-fill"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
