<div class="wrapper" *ngIf="vm$ | async as vm">
    <div appElevatedSection class="cover"></div>
    <div class="latest">
        <h1>Ostatnio dodane</h1>
    </div>
    <app-bouncy-loading-backdrop [backdrop]="false" *ngIf="vm.status ==='loading'"></app-bouncy-loading-backdrop>
    <app-list-container class="list-container" [listViewType]="'card'">
        <app-advertisement-card
            *ngFor="let advertisement of vm.advertisements"
            [horizontal]="false"
            [routerLink]="['advertisements', 'details', advertisement.id]"
            [advertisement]="advertisement"></app-advertisement-card>
        </app-list-container>
</div>
