<mat-accordion *ngIf="itemsListing">
    <mat-expansion-panel
        (opened)="itemSelectPanelOpen = true"
        (closed)="itemSelectPanelOpen = false">
        <mat-expansion-panel-header>
            <mat-panel-title> Wybierz przedmiot z listy </mat-panel-title>
            <mat-panel-description class="panel-description">
                Zapisane wcześniej przedmioty
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p
            *ngFor="let item of itemsListing"
            (click)="itemSelected.next(item.id)">
            {{ item.name }}
        </p>
    </mat-expansion-panel>
</mat-accordion>
