<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">
        {{ label }}
    </label>
    <!-- TODO: Możliwość dodawania input group -->
    <div class="p-inputgroup">
        <p-inputMask
            #inputMask
            [style]="{ width: '100%' }"
            [ngClass]="{
                'ng-invalid ng-dirty': control.invalid && control.touched,
                'own-has-error': showError && errorMessage && control.invalid && control.touched
            }"
            pInputText
            [type]="type"
            [id]="formControlName"
            [required]="required"
            [formControl]="control"
            [placeholder]="placeholder"
            [mask]="mask"
            [characterPattern]="characterPattern"
            [autoFocus]="autoFocus"
            (input)="onChange(inputMask!.value)"
            (blur)="onTouched()"></p-inputMask>
        <!-- <p-message  severity="error" text="Field is required"></p-message> -->
        <span
            *ngIf="showError && errorMessage && control.invalid && control.touched"
            class="p-inputgroup-addon own-error-addon"
            [pTooltip]="errorMessage">
            <i class="pi pi-exclamation-circle"></i>
        </span>
        <!-- <p-message  severity="error" text="Field is required"></p-message> -->
    </div>
</div>
