<div class="root">
    <app-info-bar *ngIf="infoBarOpen$ | async" [messages]="infoBarMessages$ | async" (handleClose)="closeInfoBar($event)">
    </app-info-bar>
    <app-container>
        <div class="own-container">
            <header class="own-header">
                <app-header></app-header>
            </header>
            <main>
                <router-outlet></router-outlet>
            </main>
            <footer class="own-footer">
                <app-footer></app-footer>
            </footer>
        </div>
    </app-container>
    <app-backdrop-loading *ngIf="isBusy"></app-backdrop-loading>
</div>
