<app-settings-layout
    [expanded]="expanded$ | async"
    [sideContentWidth]="'600px'">
    <app-settings-layout-topbar class="top-bar" appElevatedSection top-bar>
        <button mat-button [color]="'primary'" [routerLink]="['add']">
            Nowa definicja
        </button>
    </app-settings-layout-topbar>
    <app-settings-layout-content
        class="content-wrapper"
        appElevatedSection
        content>
        <mat-selection-list [multiple]="false">
            <mat-list-option
                *ngFor="let definition of definitions$ | async"
                [value]="definition.id"
                [routerLink]="[definition.id]">
                {{ definition.name }}
            </mat-list-option>
        </mat-selection-list>
    </app-settings-layout-content>
    <app-settings-layout-side-content>
        <router-outlet></router-outlet>
    </app-settings-layout-side-content>
</app-settings-layout>
<app-backdrop-loading
    [fixed]="true"
    *ngIf="(status$ | async) === 'loading'"></app-backdrop-loading>
