<div class="own-wrapper">
    <div class="own-main-content">
        <div class="own-icon"></div>
        <form class="own-form-group" [formGroup]="form" (ngSubmit)="formSubmited.next(form)">
            <app-text-input
                [label]="'Adres email'"
                [type]="'email'"
                [formControlName]="'email'"
                [errorMessage]="emailErrorMessage">
            </app-text-input>
            <app-password-input
                [label]="'Hasło'"
                [type]="'password'"
                [formControlName]="'password'"
                [errorMessage]="passwordErrorMessage"
                [showSuggestion]="true"></app-password-input>
            <app-password-input
                [label]="'Powtórz hasło'"
                [type]="'password'"
                [formControlName]="'confirmPassword'"
                [errorMessage]="confirmPasswordErrorMessage"
                [showSuggestion]="false"></app-password-input>

            <app-button
                class="own-submit-button"
                [type]="'submit'"
                [disabled]="!form.valid"
                [buttonColor]="'primary'"
                [label]="'Zarejestruj'"
                [buttonStyle]="'outlined'">
            </app-button>
        </form>

        <div class="own-external-buttons">
            <app-button class="own-submit-button" [buttonColor]="'primary'" [label]="'Facebook'" [buttonStyle]="'raised'">
            </app-button>

            <app-button
                class="own-submit-button"
                [disabled]="true"
                [buttonColor]="'warning'"
                [label]="'Google'"
                [buttonStyle]="'raised'">
            </app-button>
        </div>
    </div>

    <app-button
        [routerLink]="'../'"
        class="own-no-acc-link"
        [buttonColor]="'secondary'"
        [label]="'Kontynuuj bez konta'"
        [buttonStyle]="'flat'"
        [buttonSize]="'small'">
    </app-button>
</div>
