
$height: 2rem;
.wrapper {
    box-sizing: border-box;
    user-select: none;
    position: relative;
    padding: 4px 0 4px 1rem;
    width: 100%;
    border: 1px solid red;
    height: max-content;
    //margin: 8px 0;
    cursor: move;
    &::before{
        content: ">";
        position:absolute;
        left: 0;
        height: $height;
    }

    .info{
        height: $height;
        display: flex;
        align-items: center;
        border: 1px solid blue;
        padding: 5px 0;
        cursor: pointer;

        &:hover{
            background-color: red;
        }
    }
}
