.container {
    display: grid;
    grid-template: auto 1fr / minmax(240px, 320px) 1fr;
    gap: 1rem;
}
.side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: sticky;
    top: 1rem;
}
.content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
