@use '@angular/material' as mat;
@use 'colors' as colors;
@include mat.core();

// palette

$theme: mat.define-light-theme(
    (
        color: (
            primary: colors.$primary-palette,
            accent: colors.$accent-palette,
            warn: colors.$warn-palette,
        ),
    )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($theme);
// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.

// Include the theme mixins for other components you use here.
