<form
    #form
    class="container"
    [formGroup]="itemForm"
    (ngSubmit)="handleSubmit()"
    enctype="multipart/form-data">
    <app-advertisement-form-item-images
        appPosRelative
        appElevatedSection
        class="section photo-form"
        [imagesControl]="
            imagesFormControl
        "></app-advertisement-form-item-images>
    <app-advertisement-form-item-selected-images
        appPosRelative
        appElevatedSection
        class="section selected-images"></app-advertisement-form-item-selected-images>
    <app-advertisement-form-item-details
        appPosRelative
        appElevatedSection
        class="section"
        [detailsFormGroup]="itemDetailsFormGroup"
        *ngIf="categories$ | async as categories"
        [categories]="categories"></app-advertisement-form-item-details>

    <button mat-raised-button type="none" color="accent">Zapisz</button>
</form>
