<div class="wrapper">
    <div
        class="container">
        <mat-icon
            *ngIf="type == 'error'"
            aria-hidden="false"
            color="warn"
            aria-label="error"
            >error_outline</mat-icon
        >
        <mat-icon
            *ngIf="type == 'warning'"
            aria-hidden="false"
            color="secondary"
            aria-label="warning"
            >warning_amber</mat-icon
        >
        <mat-icon
            *ngIf="type == 'success'"
            aria-hidden="false"
            color="primary"
            aria-label="success"
            >check_circle_outlined</mat-icon
        >
        <mat-icon
            *ngIf="type == 'info'"
            aria-hidden="false"
            color="primary"
            aria-label="info"
            >info</mat-icon
        >

        <p [ngClass]="['content']">
            {{ message }}
        </p>

        <button class="close-button" mat-button (click)="handleClose.next()">
            Zamknij
        </button>
    </div>
</div>
