:host {
    position: fixed;
    z-index: 9999;
    top: 1.5rem;
    right: 2rem;
}
.wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 0.25rem;
    color: white;
}

mat-icon {
    padding-inline: 0.5rem;
}
.content {
    font-weight: 400;
    margin: 0px;
}

.close-button {
    color: white;
}
