<form
    #form
    class="container"
    [formGroup]="itemForm"
    (ngSubmit)="handleSubmit(form)"
    enctype="multipart/form-data">
    <app-advertisement-form-item-images
        class="section photo-form"
        [imagesControl]="imagesFormControl"
        appElevatedSection></app-advertisement-form-item-images>

    <app-advertisement-form-item-details
        class="section"
        appElevatedSection
        [formGroup]="itemDetailsFormGroup"
        *ngIf="categories$ | async as categories"
        [categories]="categories"></app-advertisement-form-item-details>

    <button mat-raised-button type="none">TEST</button>
</form>
