<form
    #form
    class="container"
    [formGroup]="itemForm"
    (ngSubmit)="handleSubmit(form)"
    enctype="multipart/form-data">

    <app-advertisement-form-item-images
        #imageForm
        [images]="images$ | async"
        class="section photo-form"
        [imagesControl]="imagesFormControl"
        appElevatedSection></app-advertisement-form-item-images>
    <app-advertisement-form-item-selected-images
        appElevatedSection
        class="section selected-images"
        *ngIf="imageForm.isPreviewVisible"
        [imageInputContainer]="
            imageForm
        "></app-advertisement-form-item-selected-images>
    <app-advertisement-form-item-details
        class="section"
        appElevatedSection
        [detailsFormGroup]="itemDetailsFormGroup"
        [itemDetails]="itemDetails$ | async"
        *ngIf="categories$ | async as categories"
        [categories]="categories"></app-advertisement-form-item-details>

    <button mat-raised-button type="none" color="accent">Zapisz</button>
</form>
