<div class="wrapper">
    <div class="left">
        <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-accordion-select
                label="Wybierz przedmiot"
                [formControlName]="'itemId'">
                <app-accordion-select-item
                    [value]="item.id"
                    *ngFor="let item of itemsListing$ | async"
                    >{{ item.name }}</app-accordion-select-item
                >
                <button type="button" mat-flat-button>Dodaj przedmiot</button>
            </app-accordion-select>
            <app-accordion-select
                label="Wybierz adres"
                [formControlName]="'localization'">
                <app-accordion-select-item
                    [value]="localization"
                    *ngFor="let localization of userLocalizations$ | async"
                    >{{ localization.name }}</app-accordion-select-item
                >
                <button
                    type="button"
                    (click)="dialog.open(localizationForm)"
                    mat-flat-button>
                    Dodaj lokalizację
                </button>
            </app-accordion-select>
            <div class="section" appElevatedSection>
                <app-item-form
                    [categories]="categories$ | async"></app-item-form>
            </div>
        </form>
    </div>
    <div class="right">
        <div appElevatedSection [appParentWidth]="100" class="right-content">
            <app-advertisement-overview
                *ngIf="{ item: selectedItem$ | async } as vm"
                [localization]="selectedLocalization$ | async"
                [loading]="(itemLoading$ | async)!"
                [item]="vm.item"></app-advertisement-overview>
        </div>
    </div>
</div>
<ng-template #localizationForm>
    <app-localization-form
        (canceled)="dialog.closeAll()"
        (formSubmited)="
            localizationFormSubmited($event)
        "></app-localization-form>
</ng-template>
