<div class="wrapper">
    <div class="left">
        <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-accordion-select
                label="Wybierz przedmiot"
                [formControlName]="'itemId'">
                <app-accordion-select-item
                    [value]="item.id"
                    *ngFor="let item of itemsListing$ | async"
                    >{{ item.name }}</app-accordion-select-item
                >
                <button
                    type="button"
                    (click)="dialog.open(itemForm)"
                    mat-flat-button>
                    Dodaj przedmiot
                </button>
            </app-accordion-select>
            <app-accordion-select
                label="Wybierz adres"
                [formControlName]="'localizationId'">
                <app-accordion-select-item
                    *ngFor="let localization of userLocalizations$ | async"
                    (click)="assignLocalization(localization)"
                    [value]="localization.id"
                    >{{ localization.name }}</app-accordion-select-item
                >
                <button
                    type="button"
                    (click)="dialog.open(localizationForm)"
                    mat-flat-button>
                    Dodaj lokalizację
                </button>
            </app-accordion-select>
            <div class="section" appElevatedSection>
                <mat-form-field appearance="outline">
                    <mat-label>Definicja ogłoszenia</mat-label>
                    <mat-select
                        [formControlName]="'definitionId'"
                        name="definitionId">
                        <mat-option
                            *ngFor="
                                let definition of advertisementDefinitions$
                                    | async
                            "
                            [value]="definition.id">
                            {{ definition.displayName }}
                        </mat-option>
                    </mat-select>
                    <mat-error> Temp error </mat-error>
                </mat-form-field>
                <app-text-area-input
                    [formControlName]="'description'"
                    [rows]="5"
                    [errorMessage]="descriptionErrorMessage"
                    [label]="'Opis'">
                </app-text-area-input>
            </div>
            <button mat-raised-button color="accent">Utwórz</button>
        </form>
    </div>
    <div class="right">
        <div appElevatedSection [appParentWidth]="100" class="right-content">
            <app-advertisement-overview
                [advertisement]="advertisement"
                [loading]="
                    (itemLoading$ | async)!
                "></app-advertisement-overview>
        </div>
    </div>
</div>
<ng-template #localizationForm>
    <mat-dialog-content>
        <app-localization-form
            (canceled)="dialog.closeAll()"
            (formSubmited)="
                localizationFormSubmited($event)
            "></app-localization-form>
    </mat-dialog-content>
</ng-template>

<ng-template #itemForm>
    <mat-dialog-content>
        <app-item-form
            [categories]="categories$ | async"
            (canceled)="dialog.closeAll()"
            (formSubmited)="itemFormSubmited($event)"></app-item-form>
    </mat-dialog-content>
</ng-template>
