<div class="wrapper">
    <div class="left">
        <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-item-select
                (itemSelected)="form.get('itemId')?.patchValue($event)"
                [itemsListing]="
                    (itemsListing$ | async) ?? []
                "></app-item-select>
            <!-- <app-item-form
                *ngIf="{ itemId: selectedItemId$ | async } as model"
                [itemId]="model.itemId"></app-item-form> -->
            <app-user-localizations-select
                [addLocalization]="submitedLocalization$ | async"
                (localizationSelected)="
                    this.selectedLocalization$.next($event)
                "></app-user-localizations-select>
            <app-map
                *ngIf="{ localization: selectedLocalization$ | async } as vm"
                [coordinates]="vm.localization?.coordinates"
                class="section map-section"
                (markerMoved)="handleMarkerMoved($event)"
                appElevatedSection></app-map>

            <div
                class="section"
                appElevatedSection
                *ngIf="markeredLocalization$ | async as localization">
                <app-localization-form
                    (cancelButtonPressed)="markeredLocalization$.next(undefined)"
                    (localizationSubmited)="handleLocalizationSubmited($event)"
                    [localization]="localization"></app-localization-form>
            </div>
        </form>
    </div>

    <div class="right">
        <div appElevatedSection [appParentWidth]="100" class="right-content">
            <app-advertisement-overview
                *ngIf="{ item: selectedItem$ | async } as vm"
                [localization]="selectedLocalization$ | async"
                [loading]="(itemLoading$ | async)!"
                [item]="vm.item"></app-advertisement-overview>
        </div>
    </div>
</div>
