<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-advertisement-form-item-select
        (itemClicked)="itemClicked.next($event)"
        *ngIf="{ items: items$ | async } as model"
        [items]="model.items"></app-advertisement-form-item-select>
    <app-advertisement-form-item
        *ngIf="{ item: selectedItem$ | async } as model"
        [item]="model.item"></app-advertisement-form-item>
    <app-advertisement-form-existing-location-select
        *ngIf="localizations$ | async as localizations"
        [localizations]="localizations"
        (changeLocalization)="
            changeLocalization($event)
        "></app-advertisement-form-existing-location-select>
    <app-map class="section map-section" appElevatedSection></app-map>
    <div class="section" appElevatedSection>darmo? odpłatnie?</div>
</form>
