:host {
    border-radius: inherit;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.img {
    border-radius: inherit;
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    width: 100%;
}

.skeleton {
    width: 100%;
}
