$errorColor: hsl(0, 72%, 59%);
:host {
    width: 100%;
}
:host ::ng-deep {
    p-password {
        width: 100%;
    }
    .p-inputtext {
        width: 100%;
    }
}
.own-form-group {
    display: flex;
    flex-direction: column;
}

.own-label {
    margin-bottom: 0.25rem;
}
.own-label.own-required:after {
    content: ' *';
    color: $errorColor;
}

.own-error-addon {
    border-color: $errorColor;
    background-color: $errorColor;
    color: white;
}
