<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">
        {{ label }}
    </label>
    <div class="p-inputgroup">
        <!-- TODO: Możliwość dodawania input group -->
        <p-password
            #input
            [style]="{ width: '100%' }"
            [ngClass]="{ 'ng-invalid': control.invalid, 'ng-dirty': control.touched }"
            [id]="formControlName"
            [required]="required"
            [formControl]="control"
            [placeholder]="placeholder"
            (input)="onChange(input!.value)"
            (blur)="onTouched()"
            [promptLabel]="'Wprowadź hasło'"
            [weakLabel]="'Słabe'"
            [mediumLabel]="'Średnie'"
            [strongLabel]="'Silne'"
            [feedback]="showSuggestion">
            <ng-template pTemplate="header">
                <h5>Wybierz hasło</h5>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Sugestie</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Przynajmniej jedna mała litera</li>
                    <li>Przynajmniej jedna wielka litera</li>
                    <li>Przynajmniej jedna liczba</li>
                    <li>Minimum 8 znaków</li>
                </ul>
            </ng-template>
        </p-password>
        <span
            *ngIf="showError && control.invalid && control.touched"
            class="p-inputgroup-addon own-error-addon"
            [pTooltip]="errorMessage">
            <i class="pi pi-exclamation-circle"></i>
        </span>
        <!-- <p-message  severity="error" text="Field is required"></p-message> -->
    </div>
</div>
