<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-advertisement-form-item-select
        (itemClicked)="itemClicked.next($event)"
        *ngIf="{ itemsListing: itemsListing$ | async } as model"
        [itemsListing]="
            model.itemsListing
        "></app-advertisement-form-item-select>
    <app-advertisement-form-item
        *ngIf="{ itemId: selectedItemId$ | async } as model"
        [itemId]="model.itemId"></app-advertisement-form-item>
    <app-advertisement-form-existing-location-select
        *ngIf="localizations$ | async as localizations"
        [localizations]="localizations"
        (changeLocalization)="
            changeLocalization($event)
        "></app-advertisement-form-existing-location-select>
    <app-map class="section map-section" appElevatedSection></app-map>
    <div class="section" appElevatedSection>darmo? odpłatnie?</div>
</form>
