:host ::ng-deep {
    .p-menubar {
        gap: 2rem;
    }
    .p-menubar-start {
        margin-right: auto;
        order: 0;
    }
    .p-element,
    .p-menubar-button {
        order: 2;
    }
    .p-menubar .p-menubar-custom,
    .p-menubar .p-menubar-end {
        order: 1;
        margin-inline: 0;
        width: 100%;
    }
}

.own-logo-wrapper {
    height: 42px;
    width: 96px;
    cursor: pointer;
}
.own-logo-wrapper :hover {
    transform: scale(1.1) rotate(5deg);
}
.own-logo-wrapper img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s ease-in-out;
}
