<div class="wrapper" *ngIf="vm$ | async as vm">
    <div class="nav-wrapper">
        <div class="nav-cont" *ngIf="vm.isAdmin">
            <a
                [routerLinkActive]="'active'"
                [routerLink]="['category-definitions']"
                >Administrator</a
            >
            <div class="children">
                <div class="nav-cont">
                    <a
                        [routerLinkActive]="'active'"
                        [routerLink]="['/settings/category-definitions']"
                        >Definicje kategorii</a
                    >
                </div>
                <div class="nav-cont">
                    <a
                        [routerLinkActive]="'active'"
                        [routerLink]="['/settings/categories']"
                        >Kategorie</a
                    >
                </div>
            </div>
        </div>
        <div class="nav-cont">
            <a [routerLinkActive]="'active'" [routerLink]="['/settings/my']"
                >Moje</a
            >
            <div class="children">
                <div class="nav-cont">
                    <a
                        [routerLinkActive]="'active'"
                        [routerLink]="['/settings/my/account']"
                        >Konto</a
                    >
                </div>
                <div class="nav-cont">
                    <a
                        [routerLinkActive]="'active'"
                        [routerLink]="['/settings/my/items']"
                        >Przedmioty</a
                    >
                </div>
                <div class="nav-cont">
                    <a
                        [routerLinkActive]="'active'"
                        [routerLink]="['/settings/my/advertisements']"
                        >Ogłoszenia</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
