mat-tree{
    background-color: transparent;
}
.tree {
    border-radius: inherit;

    a[role='toggler'] {
        cursor: pointer;
    }
    .mat-tree-node {
        min-height: 30px !important;
    }
    .mat-nested-tree-node {
        div[role='group'] {
            padding-left: 25px;
            .mat-tree-node {
                padding-left: 25px;
            }
        }

        .example-tree-invisible {
            display: none;
        }
    }
}
