.wrapper {
    display: grid;
    grid-template: 1fr / 1fr 1.25fr 1fr 1fr;
    gap: 1rem;
    .left {
        grid-column: 2 /3;
    }
    .right {
        grid-column: 3 / 4;
    }
}

.user-section {
    padding: 1rem;
    font-size: 18px;
    display: grid;
    grid-template: auto auto 1fr / auto auto 1fr auto;
    gap: 1rem;
}

.user-name {
    display: inline-block;
    margin: 0;
    text-align: center;
    display: grid;
    place-items: center;
    grid-column: 2/3;
}
.own-favorite {
    grid-column: 4/5;
}
.own-buttons {
    grid-row: 2/3;
    grid-column: 1/5;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
