<div
    *ngIf="vm$ | async as vm"
    fxLayout.gt-xs="row"
    fxLayout="column"
    fxLayoutAlign.gt-xs="center start"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">
    <div fxFlex="45vw" fxFlex.gt-sm="400px">
        <app-advertisement-overview
            [advertisement]="vm.advertisement"
            [loading]="vm.status === 'loading'"></app-advertisement-overview>
    </div>
    <div fxFlex="40vw" fxFlex.gt-sm="300px">
        <p-card header="header">
            <div>
                <p-avatar shape="circle" [label]="(vm.user?.firstName ?? 'U')[0]" styleClass="mr-2" size="xlarge"></p-avatar>
                <div class="user-name">
                    {{ vm.user?.firstName }}
                    {{ (vm.user?.firstName ?? '')[0] + (vm.user ? '.' : '') }}
                </div>
            </div>

            <app-button
                class="own-favorite"
                *ngIf="vm.isFavorite; else noFavorite"
                [disabled]="vm.isOwner"
                [buttonStyle]="'flat'"
                [buttonRounded]="true"
                [buttonColor]="'danger'"
                [buttonIcon]="'pi pi-heart-fill'"
                (click)="removeFavorite($any(vm.advertisement?.id))"></app-button>
            <ng-template #noFavorite>
                <app-button
                    class="own-favorite"
                    [disabled]="vm.isOwner || (user$ | async) === null"
                    [buttonStyle]="'flat'"
                    [buttonRounded]="true"
                    [buttonColor]="'danger'"
                    [buttonIcon]="'pi pi-heart'"
                    (click)="addFavorite($any(vm.advertisement?.id))"></app-button>
            </ng-template>

            <div class="own-buttons">
                <app-button
                    [disabled]="vm.isOwner || (user$ | async) === null"
                    [buttonStyle]="'outlined'"
                    [buttonColor]="'primary'"
                    [label]="'Napisz'"
                    (click)="redirectToChat($any(vm.user?.id))"></app-button>
                <app-button
                    [disabled]="true"
                    [buttonStyle]="'outlined'"
                    [buttonColor]="'primary'"
                    [label]="'Zadzwoń'"></app-button>
            </div>
        </p-card>
    </div>
</div>
