<div class="wrapper" *ngIf="vm$ | async as vm">
    <div class="left" appElevatedSection>
        <app-advertisement-overview
            style="width: 100%; height: 100%"
            [advertisement]="vm.advertisement"
            [loading]="vm.status === 'loading'"></app-advertisement-overview>
    </div>
    <div class="right">
        <div appElevatedSection class="user-section">
            <div class="user-avatar">{{ (vm.user?.firstName ?? 'U')[0] }}</div>
            <span class="user-name">
                {{ vm.user?.firstName }}
                {{ (vm.user?.firstName ?? '')[0] + (vm.user ? '.' : '') }}
            </span>
            <mat-icon
                *ngIf="vm.isFavorite; else noFavorite"
                class="favorite"
                (click)="removeFavorite($any(vm.advertisement?.id))"
                >favorite</mat-icon
            >
            <ng-template #noFavorite>
                <mat-icon
                    class="favorite"
                    (click)="addFavorite($any(vm.advertisement?.id))"
                    >favorite_border</mat-icon
                >
            </ng-template>
            <div class="buttons">
                <button mat-stroked-button color="primary">Napisz</button>
                <button mat-raised-button color="primary">Zadzwoń</button>
            </div>
        </div>
    </div>
</div>
