<div
    *ngIf="vm$ | async as vm"
    fxLayout.gt-xs="row"
    fxLayout="column"
    fxLayoutAlign.gt-xs="center start"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">
    <div fxFlex="45vw" fxFlex.gt-sm="400px">
        <app-advertisement-overview
            [advertisement]="vm.advertisement"
            [loading]="vm.status === 'loading'"></app-advertisement-overview>
    </div>
    <div fxFlex="40vw" fxFlex.gt-sm="300px">
        <p-card header="header">
            <div>
                <p-avatar
                    shape="circle"
                    [label]="(vm.user?.firstName ?? 'U')[0]"
                    styleClass="mr-2"
                    size="xlarge"></p-avatar>
                <div class="user-name">
                    {{ vm.user?.firstName }}
                    {{ (vm.user?.firstName ?? '')[0] + (vm.user ? '.' : '') }}
                </div>
            </div>

            <button
                [disabled]="vm.isOwner"
                *ngIf="vm.isFavorite; else noFavorite"
                (click)="removeFavorite($any(vm.advertisement?.id))"
                mat-icon-button
                class="favorite"
                color="warn">
                <mat-icon>favorite</mat-icon>
            </button>
            <ng-template #noFavorite>
                <button
                    [disabled]="vm.isOwner || (loggedInUser$ | async) === null"
                    class="favorite"
                    mat-icon-button
                    (click)="addFavorite($any(vm.advertisement?.id))"
                    color="warn">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </ng-template>
            <div class="buttons">
                <button
                    [disabled]="vm.isOwner || (loggedInUser$ | async) === null"
                    mat-stroked-button
                    (click)="redirectToChat($any(vm.user?.id))"
                    color="primary">
                    Napisz
                </button>
                <button [disabled]="true" mat-raised-button color="primary">
                    Zadzwoń
                </button>
            </div>
        </p-card>
    </div>
</div>
