<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">
        {{ label }}
    </label>
    <div class="p-inputgroup">
        <!-- TODO: Możliwość dodawania input group -->
        <input
            #input
            pInputText
            [type]="type === 'password' ? (hidePassword ? 'password' : 'text') : type"
            [id]="formControlName"
            [required]="required"
            [formControl]="control"
            [placeholder]="placeholder"
            (input)="onChange(input!.value)"
            (blur)="onTouched()" />
        <p-message style="margin-left: 5px" severity="error" text="Field is required"></p-message>
    </div>
    <small class="own-error-message" *ngIf="showError">
        <ng-container *ngIf="errorMessage && control.dirty && control.touched">{{ errorMessage }}</ng-container>
    </small>
</div>
