<form class="form">
    <div class="login-avatar"></div>
    <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput
               [type]="'text'">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input matInput
               [type]="hide ? 'password' : 'text'">
        <button mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-stroked-button
            color="primary"
            class="submit-button">Zaloguj</button>

    <div class="external-login-buttons">
        <button mat-raised-button
                color="primary"
                class="submit-button">Placeholder dla facebooka</button>

        <button mat-raised-button
                disabled
                color="warn"
                class="submit-button">Placeholder dla google</button>

    </div>
    <span class="no-acc-link">Kontynuuj bez konta</span>
</form>
