.title {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    fa-icon {
        display: inline-block;
        transition: ease 0.085s;
    }
    .rotate {
        transform: rotate(-90deg);
    }
}
