div {
    background-color: red;
    .temp {
        height: 20px;
        background-color: yellow;
        width: 100%;
        margin: 1px;
    }
}
.root {
    .tree-view-node {
        display: block;
        .title {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            user-select: none;
            fa-icon {
                display: inline-block;
                transition: ease 0.085s;
            }

            .rotate {
                transform: rotate(-90deg);
            }
        }
    }
    .tree-view-node .tree-view-node {
        padding-left: 40px;
    }
}
