<app-category-tree></app-category-tree>
<app-category-tree></app-category-tree>

<div class="temp-cont">
    <div dragDropItem class="temp">
        <div *dragDropPlaceholder></div>
    </div>
    <div dragDropItem class="temp">
        <div *dragDropPlaceholder></div>
    </div>
    <div dragDropItem class="temp">
        <div *dragDropPlaceholder></div>
    </div>
    <div dragDropItem class="temp">
        <div *dragDropPlaceholder></div>
    </div>
    <div dragDropItem class="temp">
        <div *dragDropPlaceholder></div>
    </div>
</div>
