<div *ngIf="treeItem">
    <div appTreeViewRootGroup>
        <app-tree-view-root
            [appTreeViewRoot]="treeItem"
            [treeNode]="treeItem"
            [nodeTemplate]="nodeTemplate">
        </app-tree-view-root>
        <ng-template let-node #nodeTemplate>
            <div class="title">
                <fa-icon
                    [appTreeViewNodeToggle]="node"
                    *ngIf="!node.isLeaf"
                    [class]="node.isExpanded ? 'rotate' : ''"
                    [icon]="faChevronDown"></fa-icon>
                {{ node.data.name }}
            </div>
        </ng-template>
    </div>
</div>
