.content {
    grid-column: 2/3;
    grid-row: 2 / 4;

    display: grid;
    gap: 1rem;
}
.display-list {
    grid-template-columns: 1fr;
}
.display-card {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
