:host ::ng-deep {
    .p-paginator .p-paginator-current {
        margin-left: auto;
    }

    .p-datatable {
        border-radius: 6px;
    }
    .p-datatable-header {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-top: none;
    }
    .p-datatable-footer {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

.own-grid-areas-lt-lg {
    display: grid;
    grid-template-areas:
        'checkbox title title image image buttons'
        'checkbox date city category status buttons';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 80px;
}

.own-grid-areas-lt-md {
    display: grid;
    grid-template-areas:
        'checkbox title title image image buttons'
        'checkbox date date category category buttons'
        'checkbox city city status status buttons';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 80px;
}

tr > th > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.own-image {
    aspect-ratio: 6/4;
    object-fit: cover;
    object-position: center;
}
