<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<div fxLayoutGap="1rem" *ngIf="vm$ | async as vm">
    <p-toolbar>
        <ng-template pTemplate="left">
            <div fxLayoutGap="1rem">
                <app-button
                    label="Nowe"
                    [buttonIcon]="'pi pi-plus'"
                    (click)="createAdvertisement()"
                    [buttonColor]="'success'"></app-button>
                <app-button
                    label="Usuń"
                    [buttonIcon]="'pi pi-trash'"
                    [buttonColor]="'danger'"
                    (click)="deleteSelectedAdvertisements()"
                    [disabled]="!selectedAdvertisement || !selectedAdvertisement.length"></app-button>
            </div>
        </ng-template>
    </p-toolbar>

    <div appCardContainer>
        <p-table
            #dt
            [value]="vm.advertisements ?? []"
            [rows]="10"
            responsiveLayout="scroll"
            [paginator]="true"
            [globalFilterFields]="['title', 'localization.city', 'item.category']"
            [(selection)]="selectedAdvertisement"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Wyświetlane od {first} do {last} z {totalRecords} rekordów"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div>
                    <h2>Zarządzaj ogłoszeniami</h2>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            #searchInput
                            pInputText
                            type="text"
                            (input)="dt.filterGlobal(searchInput.value, 'contains')"
                            placeholder="Szukaj..." />
                    </span>
                </div>
            </ng-template>
            <!-- Header -->
            <ng-template pTemplate="header">
                <tr ngClass.lt-lg="own-grid-areas-lt-lg" ngClass.lt-md="own-grid-areas-lt-md">
                    <th gdArea="checkbox" style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th gdArea="title" pSortableColumn="title">
                        <div>Tytuł <p-sortIcon field="title"></p-sortIcon></div>
                    </th>
                    <th gdArea="image"><div>Zdjęcie</div></th>
                    <th gdArea="date" pSortableColumn="dateCreated">
                        <div>Data utworzenia <p-sortIcon field="dateCreated"></p-sortIcon></div>
                    </th>
                    <th gdArea="city" pSortableColumn="localization.city">
                        <div>Miejscowość <p-sortIcon field="localization.city"></p-sortIcon></div>
                    </th>
                    <th gdArea="category" pSortableColumn="item.category">
                        <div>Kategoria <p-sortIcon field="item.category"></p-sortIcon></div>
                    </th>
                    <th gdArea="status" pSortableColumn="inventoryStatus">
                        <div>Status <p-sortIcon field="inventoryStatus"></p-sortIcon></div>
                    </th>
                    <th gdArea="buttons"></th>
                </tr>
            </ng-template>
            <!-- Body -->
            <ng-template pTemplate="body" let-advertisement>
                <tr ngClass.lt-lg="own-grid-areas-lt-lg" ngClass.lt-md="own-grid-areas-lt-md">
                    <td gdArea="checkbox">
                        <p-tableCheckbox [value]="advertisement"></p-tableCheckbox>
                    </td>
                    <td gdArea="title">{{ advertisement.title }}</td>
                    <td gdArea="image">
                        <img
                            [appElevation]="2"
                            [src]="advertisement.images[0]?.bytes | base64ToDataUri"
                            [alt]="advertisement.images[0]?.description"
                            width="100"
                            class="own-image" />
                    </td>
                    <td gdArea="date">{{ advertisement.dateCreated | date: 'dd MMM yyyy' }}</td>
                    <td gdArea="city">{{ advertisement.localization.city }}</td>
                    <td gdArea="category">
                        <span [class]="'advertisement-badge status-' + advertisement.category?.name.toLowerCase()">{{
                            advertisement.category?.name
                        }}</span>
                    </td>
                    <td gdArea="status"><p-rating [readonly]="true" [cancel]="false"></p-rating></td>
                    <td gdArea="buttons">
                        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayoutAlign="space-between baseline">
                            <app-button
                                [buttonIcon]="'pi pi-pencil'"
                                [buttonColor]="'success'"
                                [buttonRounded]="true"
                                (click)="editAdvertisement(advertisement)"></app-button>
                            <app-button
                                [buttonIcon]="'pi pi-trash'"
                                [buttonColor]="'warning'"
                                [buttonRounded]="true"
                                (click)="deleteAdvertisement(advertisement)"></app-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div>Zaznaczono {{ selectedAdvertisement ? selectedAdvertisement.length : 0 }} ogłoszeń.</div>
            </ng-template>
        </p-table>
    </div>
</div>
