<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">
        {{ label }}
    </label>
    <!-- TODO: Możliwość dodawania input group -->
    <textarea
        pInputTextarea
        #input
        [id]="formControlName"
        [rows]="rows"
        [cols]="cols"
        [wrap]="wrap"
        [required]="required"
        [placeholder]="placeholder"
        (input)="onChange(input!.value)"
        (blur)="onTouched()"
        [formControl]="control"></textarea>
    <small class="own-error-message" *ngIf="showError">
        <ng-container *ngIf="errorMessage && control.dirty && control.touched">{{ errorMessage }}</ng-container>
    </small>
</div>
