$errorColor: hsl(0, 72%, 59%);

:host {
    width: 100%;
}
:host ::ng-deep {
    .p-inputgroup textarea {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-inputtextarea {
        border-radius: 6px;
    }
}
.own-has-error {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.own-form-group {
    display: flex;
    flex-direction: column;
}

.own-error-message {
    color: $errorColor;
    min-height: 20px;
}

.own-label {
    margin-bottom: 0.25rem;
}
.own-label.own-required:after {
    content: ' *';
    color: $errorColor;
}
.own-error-addon {
    border-color: $errorColor;
    background-color: $errorColor;
    color: white;
}
