<div class="own-form-group">
    <label *ngIf="label && label !== ''" class="own-label" [ngClass]="{ 'own-required': required }" [for]="formControlName">
        {{ label }}
    </label>
    <!-- TODO: Możliwość dodawania input group -->
    <div class="p-inputgroup">
        <textarea
            pInputTextarea
            #input
            [ngClass]="{
                'ng-invalid ng-dirty': control.invalid && control.touched,
                'own-has-error': control.invalid && control.touched
            }"
            [id]="formControlName"
            [rows]="rows"
            [cols]="cols"
            [wrap]="wrap"
            [required]="required"
            [placeholder]="placeholder"
            (input)="onChange(input!.value)"
            (blur)="onTouched()"
            [formControl]="control"></textarea>
        <span
            *ngIf="showError && errorMessage && control.invalid && control.touched"
            class="p-inputgroup-addon own-error-addon"
            [pTooltip]="errorMessage">
            <i class="pi pi-exclamation-circle"></i>
        </span>
    </div>
</div>
