<app-settings-layout-router
    [expanded]="expanded$ | async"
    [sideContentWidth]="$any(sidePanelWidth$ | async)">
    <div class="top-bar" appElevatedSection top-bar>
        <button
            mat-button
            [color]="'accent'"
            (click)="triggerRouter(['connect'], '800px')">
            Połącz kategorie
        </button>
        <button mat-button [color]="'primary'" (click)="triggerRouter(['add'])">
            Nowa kategoria
        </button>
    </div>
    <div class="content-wrapper" appElevatedSection content>
        <mat-selection-list [multiple]="false">
            <mat-list-option
                *ngFor="let category of categories$ | async"
                [value]="category.id"
                (click)="triggerRouter([category.id])">
                {{ category.name }}
            </mat-list-option>
        </mat-selection-list>
    </div>
</app-settings-layout-router>
<app-backdrop-loading
    [fixed]="true"
    *ngIf="(status$ | async) === 'loading'"></app-backdrop-loading>
