<div class="wrapper" *ngIf="vm$ | async as vm">
    <div class="messages-wrapper" #scrollContainer [scrollTop]="scrollContainer.scrollHeight">
        <div class="messages">
            <app-message-bubble
                *ngFor="let message of vm.messages"
                [ngClass]="{ 'my-message': message.senderId === vm.user!.id }"
                class="chat-bubble my-message"
                >{{ message.content }}</app-message-bubble
            >
        </div>
    </div>
    <div class="chat-bar">
        <div class="input-wrapper" [appElevation]="4">
            <input appFocusOnLoad (keydown.enter)="sendMessage(input)" type="text" [placeholder]="'Wiadomość...'" #input />
        </div>
        <app-button
            [buttonRounded]="true"
            [buttonStyle]="'flat'"
            [buttonIcon]="'pi pi-send'"
            [buttonColor]="'primary'"
            (click)="sendMessage(input)"></app-button>
    </div>
</div>
