<div class="wrapper">
    <div class="main-content">
        <div class="icon"></div>
        <form class="form-group"
              [formGroup]="form"
              (ngSubmit)="onSubmit()">
            <app-text-input [label]="'Adres email'"
                            [type]="'email'"
                            [formControlName]="'email'"
                            [errorMessage]="emailErrorMessage">
            </app-text-input>
            <app-text-input [label]="'Hasło'"
                            [type]="'password'"
                            [formControlName]="'password'"
                            [errorMessage]="passwordErrorMessage">
            </app-text-input>
            <app-text-input [label]="'Powtórz hasło'"
                            [type]="'password'"
                            [formControlName]="'confirmPassword'"
                            [errorMessage]="confirmPasswordErrorMessage">
            </app-text-input>
            <button mat-stroked-button
                    [type]="'submit'"
                    [disabled]="!form.valid"
                    color="primary"
                    class="submit-button">Zarejestruj</button>
        </form>

        <div class="external-buttons">
            <button mat-raised-button
                    color="primary"
                    class="submit-button">Facebook</button>

            <button mat-raised-button
                    disabled
                    color="warn"
                    class="submit-button">Google</button>

        </div>
    </div>

    <a [routerLink]="'../'"
       mat-button
       class="no-acc-link">Kontynuuj bez konta</a>
</div>
