.container {
    display: flex;
    border-radius: inherit;
    .image {
        aspect-ratio: 1 / 1;
        border-radius: inherit;
        box-sizing: content-box;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
    }

    .content {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        display: grid;

        .title {
            grid-column: 1 / 4;
            grid-row: 1/2;
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 5px;
        }
        .item {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            .item-element {
                display: block;
            }
        }
        .localization {
            grid-column: 3 / 4;
            grid-row: 4 / 5;

            display: flex;
            align-items: center;
        }
    }
    &.horizontal {
        flex-direction: row;
        .image {
            width: 150px;
        }
        .content {
            grid-template: auto auto 1fr auto / auto 1fr auto;
        }
    }
    &.vertical {
        flex-direction: column;
        .image {
            width: 100%;
        }
        .content {
            grid-template: 1fr / 1fr;
        }
    }
}
