<app-card *ngIf="advertisement" class="card" [horizontal]="horizontal">
    <app-card-img [src]="advertisement.item.images[0].dataUrl"></app-card-img>
    <app-card-content class="card-content">
        <span class="title">{{ advertisement.title }}</span>
        <div class="item">
            <span class="item-element">{{ advertisement.item.name }}</span>
            <span class="item-element"
                >Kategoria: {{ advertisement.item.category.name }}</span
            >
        </div>
    </app-card-content>
    <app-card-footer class="localization">
        <span>
            {{ advertisement.localization.city }}
        </span>
    </app-card-footer>
</app-card>
