.card {
    border-radius: inherit;
    .card-content {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
        .title {
            font-size: 20px;
            line-height: 1.2;
        }
        .item {
            margin-top: 0.25rem;
            .item-element {
                display: block;
            }
        }
    }
    .localization {
        display: flex;
        justify-content: end;
    }
}
