<router-outlet></router-outlet>
<div class="container">
    <div class="top-bar" appElevatedSection>
        <app-list-container-toggle-buttons
            (listViewTypeChanged)="
                changeListViewType($event)
            "></app-list-container-toggle-buttons>

        <!-- <app-item-search
                (searchSubmited)="filterItems($event)"></app-item-search> -->
        <app-item-search (textChanged)="filter$.next($event)"></app-item-search>

        <button mat-raised-button color="warn" [routerLink]="['add']">
            Nowy przedmiot
        </button>
    </div>
    <app-list-container
        *ngIf="{ viewType: selectedListViewType$ | async } as vm"
        [listViewType]="$any(vm.viewType)">
        <app-item-card
            *ngFor="let item of filteredItems$ | async"
            (appTriggerOnScroll)="loadImages(item)"
            [appTriggerOnScrollUntill]="item.images.length > 0"
            (deleteButtonClicked)="deleteItem$.next($event)"
            [item]="item"
            [horizontal]="vm.viewType === 'list'"
            [routerLink]="['edit', item.id]">
            {{ item.name }}
        </app-item-card>
    </app-list-container>
</div>
<app-backdrop-loading
    *ngIf="(status$ | async) === 'loading'"></app-backdrop-loading>

<ng-container *ngIf="error$ | async"></ng-container>
