.list-view-button-group {
    display: flex;
    gap: 0.25rem;

    .list-view-button {
        cursor: pointer;
        &:not(.active-icon):hover {
            transform: scale(1.2);
        }
        transition: ease-in-out 0.1s;
    }
}
.active-icon {
    transform: scale(1.4);
    color: green;
}
